@import '../mixins';

.mynah-source-link-header {
    @include mynah-flex(row nowrap, center, space-between);
    opacity: 1;
    gap: var(--mynah-sizing-2);
    transition: var(--mynah-very-short-transition);

    > .mynah-source-thumbnail {
        @include mynah-flex;
        width: var(--mynah-sizing-8);
        height: var(--mynah-sizing-8);
        border: var(--mynah-border-width) solid var(--mynah-color-border-default);
        border-radius: 100%;
        background-size: 85%;
        background-clip: content-box;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--mynah-card-bg);
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid var(--mynah-card-bg);
            border-radius: 100%;
        }
    }

    > .mynah-source-link-title-wrapper {
        @include mynah-flex(column nowrap, flex-start);
        flex: 1;
        max-width: 100%;
        overflow: hidden;
        cursor: pointer;
        gap: var(--mynah-sizing-half);

        &:hover > .mynah-source-link-title > .mynah-source-link-expand-icon {
            opacity: 0.75;
            align-self: baseline;
        }

        > .mynah-source-link-title {
            @include mynah-flex(row nowrap, center, flex-start);
            font-size: var(--mynah-font-size-medium);
            font-weight: 500;
            color: var(--mynah-color-text-strong);
            gap: var(--mynah-sizing-2);
            text-overflow: ellipsis;
            text-decoration: none;
            overflow: hidden;

            > .mynah-source-link-expand-icon {
                transition: var(--mynah-short-rev-transition);
                opacity: 0;
                color: var(--mynah-color-text-weak);
                font-size: var(--mynah-font-size-xsmall);
                padding: var(--mynah-sizing-1);
            }
        }

        > .mynah-source-link-url {
            font-size: var(--mynah-font-size-xsmall);
            font-weight: 300;
            color: var(--mynah-color-text-link);
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            position: relative;
            padding-bottom: var(--mynah-sizing-1);
            display: inline-block;
            transition: var(--mynah-short-rev-transition);

            &:after {
                content: '';
                position: relative;
                width: 100%;
                height: 1px;
                background-color: currentColor;
                transform: translate3d(-30%, 0, 0);
                transition: var(--mynah-short-rev-transition);
                opacity: 0;
            }

            &:hover:after {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

            > span {
                &:not(:last-child):after {
                    content: '>';
                    margin: 0 var(--mynah-sizing-1);
                }

                &:nth-child(3) ~ span:not(:last-child) {
                    display: none;
                }

                &:nth-child(3):not(:last-child):after {
                    content: '> ... >';
                }

                &:last-child {
                    font-weight: bold;
                }
            }
        }

        > .mynah-title-meta-block {
            @include mynah-flex(row wrap, center, flex-start);
            margin-bottom: var(--mynah-sizing-half);

            &:empty {
                display: none;
            }

            > .mynah-title-meta-block-item {
                @include mynah-flex(row nowrap, center, flex-start);
                padding: calc(var(--mynah-sizing-half) * 3);
                border: var(--mynah-border-width) solid var(--mynah-color-border-default);
                border-radius: var(--mynah-button-radius);
                opacity: 0.75;

                > .mynah-icon {
                    font-size: var(--mynah-font-size-medium);
                    color: var(--mynah-color-text-weak);
                    opacity: 0.5;
                }

                > .mynah-title-meta-block-item-text {
                    font-size: var(--mynah-font-size-xxsmall);
                    color: var(--mynah-color-text-weak);

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                &.approved-answer {
                    border-color: green;
                    position: relative;

                    &:before {
                        content: '';
                        background-color: green;
                        opacity: 0.04;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: var(--mynah-button-radius);
                    }

                    > .mynah-icon {
                        color: green;
                        opacity: 1;
                        width: var(--mynah-sizing-3);
                        height: var(--mynah-sizing-3);
                    }
                }
            }
        }
    }
}
