@import '../mixins';
@import '../scss-variables';

pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
    @include mynah-syntax-token(rgba(255, 0, 0, 0.1));
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
    @include mynah-syntax-token(rgba(0, 255, 128, 0.1));
}

.mynah-syntax-highlighter {
    @include mynah-flex(column nowrap);
    background-color: var(--mynah-card-bg);
    max-width: 100%;
    border: var(--mynah-border-width) solid var(--mynah-color-border-default);
    border-radius: var(--mynah-input-radius);
    position: relative;
    color: var(--mynah-color-text-default);
    line-height: var(--mynah-syntax-code-line-height);

    &:before,
    & > .line-numbers-rows:before {
        @include mynah-overlay-bg(var(--mynah-color-syntax-bg), 0.2);
    }

    > .mynah-syntax-highlighter-copy-buttons {
        @include mynah-flex(row-reverse nowrap, center, flex-end);
        padding: var(--mynah-sizing-half) var(--mynah-sizing-3);
        border-top: 1px solid var(--mynah-color-border-default);
        position: relative;

        &:before {
            @include mynah-overlay-bg(var(--mynah-color-border-default), 0.25);
        }

        > .mynah-syntax-highlighter-language {
            flex: 1;
            font-size: var(--mynah-font-size-xsmall);
            opacity: 0.65;
            white-space: nowrap;
            overflow: hidden;
        }

        .mynah-button {
            min-width: var(--mynah-sizing-6);
            height: calc(var(--mynah-sizing-6) + var(--mynah-sizing-half));
            * {
                font-size: var(--mynah-font-size-xsmall);
                color: var(--mynah-color-text-strong);
            }
        }
    }

    &.mynah-inline-code {
        display: inline-block;
        max-width: 100%;
        color: var(--mynah-color-syntax-attr);
        padding: 0;
        margin: 0 -2px 0 -2px;
        border: none;
        background-color: transparent !important;
        vertical-align: middle;
        word-wrap: break-word;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            height: 100%;
            left: -3px;
            width: calc(100% + 6px);
            border-radius: var(--mynah-input-radius);
            transform: translateY(-50%);
        }

        &:after {
            border: var(--mynah-border-width) solid var(--mynah-color-border-default);
            background-color: var(--mynah-card-bg);
        }

        &:before {
            background-color: var(--mynah-color-syntax-bg);
        }
    }

    > pre {
        padding: var(--mynah-sizing-2);
        margin: 0;
        overflow-x: auto;
        font-size: var(--mynah-syntax-code-font-size) !important;
        font-family: var(--mynah-syntax-code-font-family) !important;

        code {
            color: var(--mynah-color-syntax-code);
            filter: brightness(0.95);
            white-space: pre;

            @media (max-width: $mynah-code-blocks-wrap-under) {
                white-space: pre-wrap;
            }
        }

        &.line-numbers {
            padding-left: 3.8em;
            counter-reset: linenumber;
        }
    }

    > .line-numbers-rows {
        position: absolute;
        top: var(--mynah-sizing-2);
        font-size: 100%;
        left: 0;
        width: var(--mynah-sizing-12);
        border-right: 1px solid var(--mynah-color-border-default);

        > span {
            color: var(--mynah-color-border-default);
            padding-right: 0.8em;
            text-align: right;
        }
    }
}

.mynah-ui-syntax-highlighter-highlight-tooltip {
    max-width: 80vw;
    min-width: 10vw;
    max-height: 80vh;
    background-color: var(--mynah-card-bg);
    border-radius: var(--mynah-card-radius);
    border: var(--mynah-border-width) solid var(--mynah-color-border-default);
    padding: var(--mynah-sizing-5);

    .mynah-card-body {
        > p:first-child:last-of-type,
        > p p:first-child {
            margin: 0;
        }
    }
}
